# {{ ansible_managed }}
{{ monero_install_dir }}/var/log/* {
    {{ monerod_logrotate_period }}
    rotate {{ monerod_logrotate_keep }}
    compress
    missingok
    notifempty
    sharedscripts
    copytruncate
}
